<!DOCTYPE html>
<html lang="en">
<head>
	<title>Navigation Bar</title>
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
	</script>
	<script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
	</script>
	<script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
	</script>
</head>
<!-- <script>
  var app = angular.module("myApp", ["ngRoute"]);
  app.config(function($routerProvider) {
    $routerProvider
    .when("/customer", {
    templateUrl: 'customer-list.component.html',
    });
  });
</script> -->
<body>
	<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li>
                      <li>
                        <a class="nav-link px-0 align-middle" [routerLink]="['customers']">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Customer</span> </a>
                      </li>                            
                    <li>
                        <a class="nav-link px-0 align-middle" [routerLink]="[('item')]">
                            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Item</span></a>                        
                    </li>
                    <li>
                        <a data-bs-toggle="collapse" class="nav-link px-0 align-middle" [routerLink]="[('sales')]">
                            <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Sales</span> </a>                            
                    </li> 
                    <li>
                        <a data-bs-toggle="collapse" class="nav-link px-0 align-middle" [routerLink]="[('product')]">
                            <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Product</span> </a>                            
                    </li>
                    <li>
                        <a data-bs-toggle="collapse" class="nav-link px-0 align-middle" [routerLink]="[('user')]">
                            <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">User</span> </a>                            
                    </li>                    
                </ul>
                <hr>

                <div class="dropdown-menu-arrow dropdown-menu-right"  ngbDropdown> 
                    <a class="nav-link pr-0" role="button" ngbDropdownToggle>
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">Tamil</span>
                    </a>
                    <div ngbDropdownMenu>
                      <button ngbDropdownItem>
                        <a routerLinkActive="active" [routerLink]="['/sales']" class="dropdown-item">                    
                            <span>Settings</span>
                          </a>
                      </button>
                      <button ngbDropdownItem>
                        <a routerLinkActive="active" [routerLink]="['/user']" class="dropdown-item">
                            <span>Profile</span>
                        </a>
                      </button>
                      <button ngbDropdownItem>
                        <a routerLinkActive="active" [routerLink]="['/item']" class="dropdown-item">
                            <span>Signout</span>
                        </a>
                      </button>
                    </div>
                </div>
                <!-- <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">Tamil</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" >New project...</a></li>
                        <li><a class="dropdown-item" >Settings</a></li>
                        <li><a class="dropdown-item" >Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" >Sign out</a></li>
                    </ul>
                </div> -->                
            </div>
        </div>
        <div class="col py-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
</body>
</html>
